/*
Error: File to import not found or unreadable: ./parts/header.scss.
       Load path: F:/bookmark-landing-page-master/scss
        on line 6 of F:\bookmark-landing-page-master\scss\main.scss

1: //  **** IMPORTS **** 
2: // Helpers
3: @import './variables.scss';
4: @import './mixins.scss';
5: // Page parts
6: @import './parts/header.scss';
7: @import './parts/footer.scss';
8: 
9: // **** GLOBAL STYLE **** 
10: * {
11:     font: {

Backtrace:
F:\bookmark-landing-page-master\scss\main.scss:6
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/import_node.rb:67:in `rescue in import'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/import_node.rb:45:in `import'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/import_node.rb:28:in `imported_file'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/import_node.rb:37:in `css_import?'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
E:/koala instalacija/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
E:/koala instalacija/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
E:/koala instalacija/bin/sass:22:in `load'
E:/koala instalacija/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ./parts/header.scss.\A        Load path: F:/bookmark-landing-page-master/scss\A         on line 6 of F:\bookmark-landing-page-master\scss\main.scss\A \A 1: //  **** IMPORTS **** \A 2: // Helpers\A 3: @import './variables.scss';\A 4: @import './mixins.scss';\A 5: // Page parts\A 6: @import './parts/header.scss';\A 7: @import './parts/footer.scss';\A 8: \A 9: // **** GLOBAL STYLE **** \A 10: * {\A 11:     font: {"; }
